{% extends 'base.html.twig' %}
{% block title %} New Rate {% endblock %}  


{% block body %}
 {{include('inc/navbar.html.twig')}}
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}



{% endblock %}  