{% extends 'base.html.twig' %}
{% block title %} Rates {% endblock %}  


{% block body %}
 {{include('inc/navbar.html.twig')}}
{% if rates %}
   <table class="table table-hover" id="rates_table">
  <thead>
    <tr>
      <th scope="col">Currency</th>
      <th scope="col">Rate</th>
      <th scope="col">Date-Time</th>
      <th scope="col">Updated Date-Time</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
   {% for rate in rates %}
   
    <tr>
        <td>{{rate.currency}}</td>
        <td>{{rate.rate}}</td>
        <td>{{rate.created|date('d-M-Y  (h.m A)') }}</td>
        <td>{{rate.updated|date('d-M-Y  (h.m A)') }}</td>
        <td>
            <a href='/rates/{{ rate.id }}' class='btn btn-dark'>Show</a>
            <a href='/rates/edit/{{ rate.id }}' class='btn btn-primary'>Edit</a>
             <a href='/rates/delete/{{rate.id}}' class='btn btn-danger delete-rate' data-id="{{rate.id}}">Delete</a>
        </td>
    </tr>
   {% endfor %}
  </tbody>
</table>
{% else %}
<p>No Rates Present</p>
{% endif %}
{% endblock %}  

{% block javascripts %}
<script src="/js/main.js"></script>
{% endblock %}