{% extends 'base.html.twig' %}
{% block title %} {{rates.currency}} {% endblock %}  


{% block body %}

 {{include('inc/navbar.html.twig')}}
<ul class="list-group">
 <li class="list-group-item d-flex justify-content-between align-items-center">
   
   <center><b>Details</b></center>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Currency Name
    <span class="badge badge-primary badge-pill">{{rates.currency}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Rate
    <span class="badge badge-primary badge-pill">{{rates.rate}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Creation Time
    <span class="badge badge-primary badge-pill">{{rates.created|date('d-M-Y  (h.m A)')}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Updation Time
    <span class="badge badge-primary badge-pill">{{rates.updated|date('d-M-Y  (h.m A)')}}</span>
  </li>
</ul><br>
<a class="btn btn-danger" href="/rates">Go Back</a>


{% endblock %}  