{% extends 'base.html.twig' %}
{% block title %} products {% endblock %}  


{% block body %}




{{include('inc/navbar.html.twig')}}





{% if products %}




  <div class="row" id="products_table">
    {% for product in products %}

    
    <div class="col-md-4">
        <div class="card border-dark mb-3" style="max-width: 20rem;">
        <div class="card-header"><b>{{product.name}}</b></div>
        <div class="card-body">

            <h4 class="card-title">Price :${{product.price}}</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href='/product/purchase/{{product.id}}/{{app.user.id}}/{{product.price}}' class='btn btn-danger buy-product' data-id="{{product.id}}"  data-id1="{{app.user.id}}" data-id2="{{product.price}}"
            >Purchase</a>
        
            
            <a href="#" data-toggle="tooltip" title="inr"  class="btn btn-success">INR</a>
            <a href="#" data-toggle="tooltip" title=""  class="btn btn-warning">EUR</a>
            

        </div>
        </div>
    </div>

   {% endfor %}
 </div>
{% else %}
<p>No products Present</p>
{% endif %}





{% endblock %}  

{% block javascripts %}

<script src="/js/main.js"></script>


{% endblock %}