{% extends 'base.html.twig' %}
{% block title %} Login | Exchanger {% endblock %}  


{% block body %}
<div class="login-form">

{# {% if errors %}
   <div class="alert alert-dismissible alert-danger">
    {{ errors.messageKey }}
    </div>
    
{% endif %} #}

    <form class="form-signin" method="post">
        {% if errors %}
             <div class="alert alert-danger">{{ errors.messageKey|trans(errors.messageData,'security') }}</div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="_username" id="inputEmail" class="form-control" placeholder="Email" required autofocus value="{{ username }}">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
         <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>
    </form>

    
</div>
{% endblock %}  

{% block javascripts %}
<script src="/js/main.js"></script>
{% endblock %}