<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
<div class="container">
  <a class="navbar-brand" href="#">Exchanger</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">
      
    {% if app.user %}

    {% if app.user.role == 1 %}

            <li class="nav-item">
              <a class="nav-link" href="/rates/insert">New Rate</a>
            </li>
          
    {% endif %}

   
    {# user is logged in (any and all users, regardless of ROLE_*) #}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
      </li>

  {% elseif not app.user %}
    {# user is not logged in (note the `not` in the `elseif` statement) #}
    <script type = "text/javascript">
               window.location.href = "/";
      </script>

  {% endif %}

  

    </ul>
  </div>
  </div>

</nav>